.top-warapper {
  height:650px;
  background-image: url("https://raw.githubusercontent.com/motsuo0517/yuba_resipe-/main/yubatop.webp");
  background-size:cover;
  color:white;
  opacity:1.0;
}

.container {
  padding:15px;
  width:500px;
  margin:0 auto;
  opacity:1.0;
}
.container h1 {
  color:lightblue;
  letter-spacing:5px;
  font-size:50px;
}

.container p {
  font-size:25px;
}

header {
  height:50px;
  background-color:gray;
}

.header-logo h1 {
  font-size:30px;
  font-family:serif;
  padding-left:10px;
}

.menu-warapper {
  height:450px;
  background-color:pink;

}

.menu-warapper img {
  position:absolute;
  height:450px;
  width:400px;
}

.cooking-resipe {
  position:absolute;
  padding-left:400px;
}

.cooking-resipe li {
  border-bottom:1px solid gray;
}

.cooking-resipe span1 {
  margin-left:120px;
}

.cooking-resipe span2 {
  margin-left:80px;
}

.cooking-resipe span3 {
  margin-left:125px;
}

.cooking-resipe span4 {
  margin-left:125px;
}

.cooking-resipe span5 {
  margin-left:125px;
}

.cooking-resipe span6 {
  margin-left:140px;
}

.cooking-resipe span7 {
  margin-left:50px;
}

.cooking-resipe span8 {
  margin-left:50px;
}

.cooking-resipe span9 {
  margin-left:155px;
}

.cooking-resipe span10 {
  margin-left:140px;
}

.cooking-resipe span11 {
  margin-left:115px;
}

.cooking-resipe span12 {
  margin-left:45px;
}

.cooking-resipe span13 {
  margin-left:45px;
}

.cooking-resipe span14 {
  margin-left:110px;
}

.cooking-resipe2 p {
  border-bottom:1px solid gray;
}

.cooking-resipe2 {
  padding-left:800px;
  padding-top:3px;
}

footer {
  position:absolute;
  height:100px;
  width:98.8%;
background-color:blue;
}

footer img {
  position:absolute;
  max-height:80px;
  padding-top:10px;

}

footer h3 {
  color:white;
  padding-left:150px;
  padding-top:20px;
}
